<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Brushed | Responsive One Page Template</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <div class="row row-centered" id="weddingsLogo">
    <img class="weddingsLogo" src="_include\img\slider-images\image01.jpg" alt="Home LOGO"/>
  </div>
</section>
</div>
 <!--End of Splash Screen-->

<!-- Homepage Slider -->
<!---\\
<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>   
	
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
-->
<!-- End Homepage Slider -->

</script>

<!-- Header -->
<header  class="sticky-nav" data-spy="affix" data-offset-top="250">
    <div class="sticky-nav" >
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="WeddingsUnveiled">WeddingsUnveiled.com</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
		<li><a href="#packages">Packages</a></li>
                <li><a href="#work">Our Work</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
				<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Services Section -->
<div id="packages" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Our Packages</h2>
                <h3 class="title-description">How Can We Help?</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
      
    	  <!-- Start Basic Package -->
    	<div class="span4 profile">
        	<!--<!--<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Basic Package</span>
    </div>
                <img src="_include/img/profile/profile-02.jpg" alt="Basic package">
            </div>-->
            <h3 class="profile-name">Basic Package - Photo $1,499.00</h3>
            <p class="profile-description">
	      -Album<br />
-Digital Online Album
<br />
-5 copies on DVD/Blue ray
<br />
-10 copies on Flash drive</p>
            	
        </div>
        <!-- End Basic Package -->
        <!-- Start Package -->
    	<div class="span4 profile">
        	<!--<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Movie premier package</span>
                </div>
                <img src="_include/img/profile/profile-01.jpg" alt="Movie premier package">
            </div>-->
            <h3 class="profile-name">Movie Premier Package - Photo $2,299.00</h3>
            <p class="profile-description">Available in CA,NV,AZ<br />
-2 photographers
<br />
-Album
<br />
-3 large prints
<br />
-Digital Online Album
<br />
-5 copies on DVD/Blue ray
<br />
-10 copies on Flash drive</p>
        </div>
        <!-- End Profile -->
		<!-- Start Basic package -->
    	<div class="span4 profile">
        	<!--<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Basic Package</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Basic package">
            </div>-->
            <h3 class="profile-name">Basic Package - Video 4K $1,949.00</h3>
            <p class="profile-description">Available in CA,AZ,NV
	    <br />
-4K resolution footage (3840 X 2160)
<br />
-Up to 3 camera operators
<br />
-Drone
<br />
-5 minute highlight video
<br />
-20 minute video
<br />
-1 hour video
<br />
-10 copies on Blue-ray
<br />
-5 copies on Flash drives
<br />
-Vimeo.com upload for convenient internet access</p>
        </div>
        <!-- End Basic package -->
        	<!-- Start Value package-->
    	<div class="span4 profile">
<!--        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Award Winning package</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Value package - Video 4K">
            </div>-->
            <h3 class="profile-name">Value package - Video 4K $2,799.00</h3>
            <p class="profile-description">Available in CA,AZ,NV
	    <br />
-4K resolution footage (3840 X 2160)
<br />
-Up to 5 camera operators
<br />
-<strong>Live stream for your family and friends that could not attend the event</strong>
<br />
-Crane
<br />
-Drone
<br />
-Dolly
<br />
-5 minute highlight video (Same day edit)
<br />
-20 minute video (Same day edit)
<br />
-1 hour video
<br />
-10 copies on Blue-ray
<br />
-5 copies on Flash drives
<br />
-Vimeo.com upload for convenient internet access</p>
        </div>
        <!-- End Value package package -->
        <!-- Start Award Winning package -->
    	<div class="span4 profile">
        	<!--<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Award Winning package</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Award Winning package - Video 4K">
            </div>-->
            <h3 class="profile-name">Award Winning package - Video 4K $3,849.00</h3>
            <p class="profile-description">Available in CA,AZ,NV
	    <br />
-4K resolution footage (3840 X 2160)
<br />
-Up to 6 camera operators
<br />
-<strong>Live stream for your family and friends that could not attend the event</strong>
<br />
-Crane
<br />
-Drone
<br />
-Steadycam
<br />
-Dolly
<br />
-5 minute highlight video (Same day edit)
<br />
-20 minute video (Same day edit)
<br />
-1 hour video
<br />
-30 copies on Blue-ray
<br />
-15 copies on Flash drives
<br />
-Vimeo.com upload for convenient internet access</p>
        </div>
        <!-- End Award Winning package -->
	        	<!-- Start basic P and v-->
    	<div class="span4 profile">
        	<!--<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Award Winning package</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Value package - Video 4K">
            </div>-->
            <h3 class="profile-name">Basic Package - Photo and 4K Video $3,199.00</h3>
            <p class="profile-description">Available in CA,AZ,NV
	    <br />
	    <h4>Video:</h4>
-4K resolution footage (3840 X 2160)
<br />
-Up to 3 camera operators
<br />
-Drone
<br />
-5 minute highlight video
<br />
-20 minute video
<br />
-1 hour video
<br />
-10 copies on Blue-ray
<br />
-5 copies on Flash drives
<br />
-Vimeo.com upload for convenient internet access
<h4>Photo:</h4>
-Album
<br />
-3 large prints
<br />
-Digital Online Album
<br />
-5 copies on DVD/Blue ray
<br />
-10 copies on Flash drive
</p>
        </div>
        <!-- End Value Basic P and V-->
                <!-- Start AHollywood package -->
    	<div class="span4 profile">
        	<!--<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Hollywood Package</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Hollywood Package">
            </div>-->
            <h3 class="profile-name">Hollywood Package - Photo and 4K Video $5,999.00</h3>
            <p class="profile-description">Available in CA,AZ,NV
	    <br />
	    <h4>Video:</h4>
-4K resolution footage (3840 X 2160)
<br />
-Up to 6 camera operators
<br />
-<strong>Live stream for your family and friends that could not attend the event</strong>
<br />
-Crane
<br />
-Drone
<br />
-Steadycam
<br />
-Dolly
<br />
-5 minute highlight video (Same day edit)
<br />
-20 minute video (Same day edit)
<br />
-1 hour video
<br />
-30 copies on Blue-ray
<br />
-15 copies on Flash drives
<br />
-Vimeo.com upload for convenient internet access
<h4>Photo:</h4>
-2 photographers
<br />
-Album
<br />
-3 large prints
<br />
-Digital Online Album
<br />
-5 copies on DVD/Blue ray
<br />
-10 copies on Flash drive</p>
        </div>
	<!-- END Hollywood package  -->
    </div>
    <!-- End Services -->
</div>
</div>
<!-- End Services Section -->
<!--start price cal-->
<div id="cal" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Instant Price Calaculator</h2>
                    <h3 class="title-description">Build your custom package.</h3>
		</div>
<!--start price form-->
		    <div id="priceForm">
		      <script>
			var videoPrice = 0;
			var videographersPrice = 0;
			var videoOptions = 0;
			var editPrice = 0;
			var photoPrice = 0;
			var photographerPrice = 0;
			var photoOptionPrice = 0;
			var photoOptions = 0;
			var album = 0;
			var edit = 0;
			var lPrints = 0;
			var albumOn = 0;
			var editOn = 0;
			var lPrintsOn = 0;
			
			function math(name, value) {
			  alert(name)
			  alert(value)
			  videoPrice = 0;
			 if (name == 'videographersPrice') {
			  //videographersPrice = 0;
			  videographersPrice = value;
			 }
			 if (name == 'edit') {
			 // editPrice = 0;
			  editPrice = value;
			 }
			 if (name == 'options') {
			  videoOptions = value;
			 }
			 if (name == 'photo') {
			  photoOptionPrice = value;
			 }
			 //if (name == 'photoPeople') {
			 //photographerPrice = photoOptionPrice + value;
			 //}
			   videoPrice += videographersPrice + editPrice + videoOptions + photoOptionPrice;
			   document.getElementById('Total').innerHTML = "Your Quote is: $" + videoPrice+".00";
			}
			
			function calPrice(functionName, number) {
			  ///global varibles
			
			//show options when 3 is selected
			 var s = document.getElementById('selVideo');
			var item1 = s.options[s.selectedIndex].value;
			if (item1 != "no") {
			  document.getElementById('options').style.display = "block";
			   //calvideo(item1);
			      }
			      else{
				document.getElementById('options').style.display = "none";
				document.getElementById('Total').innerHTML = "$000.00";
			      }
			  //add to price
			  videographersPrice = 0;
			if (functionName == 'videographers' && number == 3) {
			  videographersPrice = 1399;
			  math('videographersPrice', videographersPrice)
			}else if (functionName == 'videographers' && number == 4) {
			  videographersPrice = 1699;
			  math('videographersPrice', videographersPrice)
			}else if (functionName == 'videographers' && number == 5) {
			   videographersPrice = 1899;
			   math('videographersPrice', videographersPrice)
			}else if (functionName == 'videographers' && number == 6) {
			   videographersPrice = 2049;
			   math('videographersPrice', videographersPrice)
			}
			
			}
			
			
			
			function calEdit(name, number) {
			   editPrice = 0;
			  if (name == 'editTime' && number == 5) {
			   editPrice = editPrice + 399;
			   math('edit', editPrice); 
			  }else if (name == 'editTime' && number == 20) {
			   editPrice = editPrice + 299;
			  math('edit', editPrice);
			  }else if (name == 'editTime' && number == 1) {
			    editPrice = editPrice + 199;
			    math('edit', editPrice);
			  }else {
			    editPrice = 0;
			    math('edit', editPrice);
			  }
			}
			
			function voptions(name, price) {
			  var liveOn = 0;
			  var steadycamOn = 0
			  var droneOn = 0;
			  var craneOn = 0;
			  var dollyOn = 0;
			  videoOptions = 0;
			  if (document.getElementById('live').checked == true){
			      liveOn = 1;
			      var live = 1099;
			    }else {
			      liveOn = 0;
			    }
			  if (document.getElementById('steadycam').checked == true) {
			    steadycamOn = 1;
			     var steadycam = 499;
			  }else {
			    steadycamOn = 0;
			  }
			  if (document.getElementById('drone').checked == true) {
			    droneOn = 1;
			    drone = 299;
			  }else {
			    droneOn = 0;
			  }
			  if (document.getElementById('crane').checked == true) {
			    craneOn = 1;
			    crane = 599;
			  }else {
			    craneOn = 0;
			  }
			  if (document.getElementById('dolly').checked == true) {
			    dollyOn = 1;
			    dolly = 299;
			  }else{
			      dollyOn =  0;
			    }
			  if (liveOn == 1) {
			    videoOptions += live;
			  }
			  if (steadycamOn == 1) {
			    videoOptions += steadycam;
			  }
			  if (droneOn == 1) {
			    videoOptions += drone;
			  }
			  if (craneOn == 1) {
			    videoOptions += crane;
			  }
			  if (dollyOn == 1) {
			    videoOptions += dolly;
			  }
			   math('options', videoOptions);
			}
			
			///////////////////////////////// end video cal
			///////////////////////////////start photo cal
			function photo() {
			   var s = document.getElementById('selPhoto');
			var item1 = s.options[s.selectedIndex].value;
			if (item1 != "no") {
			  document.getElementById('optionsP').style.display = "block";
			   //calvideo(item1);
			      }
			      else{
				document.getElementById('options').style.display = "none";
			      }
			}
			
			function photographer(numberOfPeople, price) {
			  if (numberOfPeople == 1) {
			  //  photographerPrice = 0;
			    photographerPrice = price;
			    photoOptions += photographerPrice;
			    document.getElementById('Total').innerHTML = "Your Quote is: $" + photoOptions+".00";
			  }else {
			    // photographerPrice = 0;
			    photographerPrice = price;
			    photoOptions += photographerPrice;
			    document.getElementById('Total').innerHTML = "Your Quote is: $" + photoOptions+".00";
			  }
			}
			function optionsP(name, price) {
			//  photoOptions = 0;
			  alert("price " + price)
			  if (document.getElementById('editing').checked == true) {
			    editOn = 1;
			    edit = 199;
			  }else{
			    edit = 0
			  }
			  if (document.getElementById('album').checked == true) {
			    albumOn = 1;
			    album = 199;
			  }else {
			    album = 0;
			  }
			  if (document.getElementById('lPrints').checked == true) {
			  lPrintsOn = 1;
			  lPrints = 79;
			  }
			  
			  if (edit == 1) {
			    photoOptions += edit;
			  }
			  if (album == 1) {
			    photoOptions += album;
			  }
			  if (lPrints == 1) {
			    photoOptions += lPrints;
			  }
			  alert("price befor math" + photoOptions);
			  math('photo', photoOptions);
			}
			
			  
		      </script>
		      <form action="" method="post" >
			<select id="selVideo" onchange="calPrice('videographers', document.getElementById('selVideo').value)">
			
			    <option id="no"  value="no">No Videographers</option>
			    <option id="3min" value="3" name="3min">3 Videographers ($1399)</option>
			    <option id="4min" value="4" name="4min">4 Videographers ($1699)</option>
			    <option id="5min" value="5" name="5min">5 Videographers ($1899)</option>
			    <option id="6min" value="6" name="6min">6 Videographers ($2049)</option>
			</select>
		      
			<h4>Number of Edits</h4>
			    <select id="edit" name="edit" onclick="calEdit('editTime', document.getElementById('edit').value)" >
			      <!--<option id="none" value="standard">Standard 10 days ($0.00)</option>-->
			      <option id="5min" value="5">5 minuets ($399.00)</option>
			      <option id="20min" value="20">20 minuets ($299.00)</option>
			      <option id="hour" value="1">1 hour ($199.00)</option>
			    </select>
			    <div id="optionsV">
			    <h4>Video Options:</h4>
			    <input type="checkbox" onclick="voptions('live', 1099)" id="live" name="liveStream" value="liveStream">Live stream for your family and friends that could not attend the event $1099
			    <br />
			 <input type="checkbox"onclick="voptions('steadycam', 499)" id="steadycam" name="steadycam" value="steadycam">Steadycam $499
			 <br />
			 <input type="checkbox" onclick="voptions('drone', 299)" name="drone" id="drone">Drone $299
			 <br />
			 <input type="checkbox" onclick="voptions('crane', 599)" name="crane" id="crane">Crane $599
			 <br />
			 <input type="checkbox"  onclick="voptions('dolly', 299)" name="dolly" id="dolly">Dolly $299
			    </div>
			    <h4>Photography</h4>
			    <select id="selPhoto" onclick="photo()">
			    <option id="no" value="no">No Photographers</option>
			    <option id="oneP" onclick="photographer(1, 1499)" name="one">1 Photographer ($1,499)</option>
			    <option id="twoP" onclick="photographer(2, 2199)" name="two">2 Photographers ($2,199)</option>
			   </select>
			    <h4>Photography Options:</h4>
			    <div id="optionsP">
			      <input type="checkbox" onclick="optionsP('edit', 199)" id="editing" value="editing" name="editing">Editing ($199)
			      <br />
			       <input type="checkbox"  onclick="optionsP('album', 199)" id="album" value="album" name="album">Album ($199)
			       <br />
			        <input type="checkbox"  onclick="optionsP('lPrints', 79)" id="lPrints" value="lPrints" name="lPrints">Large Prints ($79 each)
			    </div>
			    <div id="locationO">
			      <h4>Most of our packages are available in Available in CA

If you are in AZ, NV, UT, OR, WA, ID no problem! We can bring
Hollywood style of filming to your state for small additional fee.</h4>
			      <select>
				<option id="ca">CA</option>
				<option id="az">AZ</option>
				<option id="nv">NV</option>
				<option id="ut">UT</option>
				<option id="or">OR</option>
				<option id="wa">WA</option>
				<option id="id">ID</option>
			      </select>
			      <h6>(IF YOUR STATE IS NOT IN THE LIST PLEASE CONTACT US +1-424-332-3660)</h6>
			    </div>
		      </form>
		      <br />
		      <h3 id="Total"><h3>
		    </div>
<!---end price form-->
                </div>
            </div>
        </div>
	</div>


<!--end price cal-->

<div id="placeholder" class="page-alternate">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">placeholder</h2>
                    <h3 class="title-description"> custom.</h3>
		</div>
                </div>
            </div>
        </div>
	</div>
<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Work</h2>
                    <h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Type of Work</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <li><a href="#filter" data-option-value=".design">Design</a></li>
                        <li><a href="#filter" data-option-value=".photography">Photography</a></li>
                        <li><a href="#video" data-option-value=".video">Video</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                        
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="_include/img/work/full/image-01-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-01.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="_include/img/work/full/image-02-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 photography">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="_include/img/work/full/image-03-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-03.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 video">
                            	<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                            	<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/51460511">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-08.jpg" alt="Video">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 photography">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="_include/img/work/full/image-04-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-04.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 photography">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="_include/img/work/full/image-05-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-05.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 video">
                            	<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                            	<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/50834315">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-09.jpg" alt="Video">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="_include/img/work/full/image-06-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-06.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="_include/img/work/full/image-07-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-07.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                        </ul>
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Us</h2>
                <h3 class="title-description">Learn About our Team &amp; Culture.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span6 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">CTO/Founder</span>
                </div>
                <img src="_include/img/profile/profile-01.jpg" alt="Jordan Avtal">
            </div>
            <h3 class="profile-name">Jordan Avtal</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            	
            <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
    	<div class="span6 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Creative Director</span>
                </div>
                <img src="_include/img/profile/profile-02.jpg" alt="Jane Helf">
            </div>
            <h3 class="profile-name">George</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            	
            <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-email"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->


<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Get in Touch</h2>
                <h3 class="title-description">Weddings Unveiled Productions is a Los Angeles based event photography and videography company with years of experience in Film, Commercials and Television. We use Hollywood techniques to provide memorable material of the highest quality for you to enjoy for years to come. We treat your wedding, birthday, Bar/Bat Mitzvah and more as a professional movie set for rates that won't break your budget. We would love to hear about next event!</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Contact Form -->
    <div class="row">
    	<div class="span9">
        
        	<form id="contact-form" class="contact-form" action="">
            	<p class="contact-name">
            		<input id="contact_name" type="text" placeholder="Full Name" value="" name="name" required="1"/>
                </p>
                <p class="contact-email">
                	<input id="contact_email" type="text" placeholder="Email Address" value="" name="email" required="1" />
                </p>
		<p class="subject-email">
                	<input id="subject_email" type="text" placeholder="Subject" value="" name="subject" required="1" />
                </p>
                <p class="contact-message">
                	<textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40" required="1"></textarea>
                </p>
                <p class="contact-submit">
                	<a id="contact-submit" class="submit" href="#">Send Your Email</a>
                </p>
                
                <div id="response">
                
                </div>
            </form>
         
        </div>
        
        <div class="span3">
        	<div class="contact-details">
        		<h3>Contact Details</h3>
                <ul>
                    <li><a href="#">bookings@weddingsunveiled.org</a></li>
                    <li>(424) 332-3660</li>
		    <li>(818) 857-1210</li>
                    <li>
                        
                        <br>
                        
                        <br>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->


<!-- Socialize -->
<div id="social-area" class="page">
	<div class="container">
    	<div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <li><a href="https://www.facebook.com/weddingsunveiled" title="Follow Us on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://plus.google.com/" title="Follow Us on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        <li><a href="http://www.linkedin.com/in/" title="Follow Us on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Socialize -->

<!-- Footer -->
<footer>
	<p class="credits">&copy;2015 Weddings Unveiled Productions</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>